<div class="card-container">
	<!-- STATUS PILL -->
	<span
		class="tag is-medium status-pill is-rounded has-text-white"
		[ngClass]="{
			'is-warning': visit.status === 'PENDING',
			'is-success': visit.status === 'SUCCESS',
			'is-danger': visit.status === 'FAILURE',
		}"
	>
		{{ visit.status }}
	</span>

	<!-- CARD (add dynamic border class here) -->
	<div
		class="card"
		[ngClass]="{
			'border-warning': visit.status === 'PENDING',
			'border-success': visit.status === 'SUCCESS',
			'border-danger': visit.status === 'FAILURE',
		}"
	>
		<div class="card-content">
			<div class="media">
				<div class="media-content">
					<p class="title is-5">{{ visit.name }}</p>
					<p class="subtitle is-7">{{ visit.gotra }}</p>
				</div>
				<div class="media-right">
					<div class="tags has-addons">
						<i
							class="tag"
							[ngClass]="
								visit.local
									? 'fa-solid fa-location-dot'
									: 'fa-solid fa-earth-americas'
							"
						></i>
						<span class="tag is-small">
							{{ visit.local ? "Local" : "Non-Local" }}
						</span>
					</div>
				</div>
			</div>

			<div class="content">
				<p>
					<strong>Phone: </strong>
					<span class="is-family-monospace">{{ visit.phone }}</span>
				</p>
				<p>
					<strong>Created:</strong>
					{{ visit.createdDate | date: "short" }}
				</p>
				<p *ngIf="visit.completeDate">
					<strong>Completed On: </strong>
					{{ visit.completeDate | date: "short" }}
				</p>
			</div>
		</div>

		<footer class="card-footer">
			<button
				class="card-footer-item button is-small is-success"
				(click)="markSuccess.emit(visit.id)"
				*ngIf="visit.status !== 'SUCCESS'"
			>
				<span class="icon">
					<i class="fas fa-check"></i>
				</span>
				<span>Mark Success</span>
			</button>

			<button
				class="card-footer-item button is-small is-danger"
				(click)="markFailure.emit(visit.id)"
				*ngIf="visit.status !== 'FAILURE'"
			>
				<span class="icon">
					<i class="fas fa-times"></i>
				</span>
				<span>Mark Failure</span>
			</button>
		</footer>
	</div>
</div>
