<p
  class="is-small font-family-devanagari has-text-centered mt-1 has-text-success has-text-success-dark"
>
  श्री जगद्गुरु माधवाचार्य मूल महासंस्थानम्
</p>
<p class="is-medium font-family-devanagari has-text-centered has-text-warning">
  श्री उत्तरादी मठः
</p>
<section class="hero is-small is-link">
  <div class="hero-body">
    <p class="title font-family-devanagari mb-2">पादार्चनं अनुमोदनम्</p>
    <p class="subtitle font-family-devanagari">सत्यात्मानं गुरुं भजे</p>
  </div>
</section>
<app-dashboard></app-dashboard>
