<div class="page-container is-flex is-flex-direction-column">
  @if (isAuthenticated) {
  <app-navbar />
  }
  <section class="hero is-small is-link">
    <div
      class="hero-body is-flex is-flex-direction-row is-justify-content-space-between"
    >
      <div>
        <p class="title font-family-devanagari mb-2">पादार्चनं अनुमोदनम्</p>
        <p class="subtitle font-family-devanagari">सत्यात्मानं गुरुं भजे</p>
      </div>
      @if (isAuthenticated) {
      <div class="is-size-4 is-align-content-center">{{ todaysDate }}</div>
      }
    </div>
  </section>
  @if (loading) {
  <div class="has-text-centered py-4 is-flex-grow-1" style="height: 50vh">
    <button class="button is-loading is-large">Loading...</button>
  </div>

  } @if (!loading) {
  <router-outlet></router-outlet>
  }
  <app-footer />
</div>
